---

import Bouton from '../components/bouton.astro';
import Layout from '../layouts/Layout.astro';

import "../style/global.css";

import ProductCard from "../components/ProductCard.astro";
import Personabanner from '../components/personabanner.astro';
import Apropos from '../components/Apropos.astro';
import Banner from '../components/banner.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Personabanner />
	<a href="/">
        <Bouton>Nous contacter</Bouton>
      </a>

<section class="p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <ProductCard
    image="/images/item1.jpg"
    title="Produit 1"
    price="19,99€"
    link="/produit1"
  />
  <ProductCard
    image="/images/item2.jpg"
    title="Produit 2"
    price="24,99€"
    link="/produit2"
  />
  <ProductCard
    image="/images/item3.jpg"
    title="Produit 3"
    price="29,99€"
    link="/produit3"
  />
  <ProductCard
    image="/images/item4.jpg"
    title="Produit 4"
    price="15,99€"
    link="/produit4"
  />
  <ProductCard
    image="/images/item5.jpg"
    title="Produit 5"
    price="32,99€"
    link="/produit5"
  />
  <ProductCard
    image="/images/item6.jpg"
    title="Produit 6"
    price="22,99€"
    link="/produit6"
  />
</section>
<br><br><br><br><br><br>
<Apropos />
<Banner />
</Layout>
