---

import Bouton from '../components/bouton.astro';
import Layout from '../layouts/Layout.astro';

import "../style/global.css";

import ProductCard from "../components/ProductCard.astro";
import Personabanner from '../components/personabanner.astro';
import Apropos from '../components/Apropos.astro';
import Banner from '../components/banner.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Personabanner />
<br><br><br><br>
<h2 class="font-jockey text-3xl ml-[100px]">
  Tendances
</h2>
<br><br><br><br>
<section class="p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <ProductCard
    image="/public/article1.jpg"
    title="Produit 1"
    price="19,99€"
    link="/Produits.astro"
  />
  <ProductCard
    image="/public/article2.jpg"
    title="Produit 2"
    price="24,99€"
    link="/Produits.astro"
  />
  <ProductCard
    image="/public/article3.jpg"
    title="Produit 3"
    price="29,99€"
    link="/produit3"
  />
  <ProductCard
    image="/public/article4.jpg"
    title="Produit 4"
    price="15,99€"
    link="/produit4"
  />
  <ProductCard
    image="/public/article5.jpg"
    title="Produit 5"
    price="32,99€"
    link="/produit5"
  />
  <ProductCard
    image="/public/article6.jpg"
    title="Produit 6"
    price="22,99€"
    link="/produit6"
  />
    <ProductCard
    image="/public/article7.jpg"
    title="Produit 7"
    price="15,99€"
    link="/produit7"
  />
  <ProductCard
    image="/public/article8.jpg"
    title="Produit 8"
    price="32,99€"
    link="/produit8"
  />
  <ProductCard
    image="/public/article9.jpg"
    title="Produit 9"
    price="22,99€"
    link="/produit9"
  />
</section>
<br><br><br><br><br><br>
<Apropos />
<Banner />
</Layout>
