@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet');

@import "tailwindcss";


.font-jockey {
    font-family: 'Jockey One', sans-serif;
}

.font-livvic {
    font-family: 'Livvic', sans-serif;
}
