---
---

<header class="w-full bg-[#121212] text-[#F5F5F5]">
  <div class="max-w-7xl mx-auto flex items-center justify-between py-5 px-10">
    <!-- Logo -->
    <h1 class="font-jockey text-5xl">
      TaVue
    </h1>

    <!-- Navigation -->
    <nav>
      <ul class="flex space-x-12 font-livvic text-base">
        <li><a href="/" class="hover:text-gray-400 transition">Accueil</a></li>
        <li><a href="/bibliotheque" class="hover:text-gray-400 transition">Historique</a></li>
        <li><a href="/panier" class="hover:text-gray-400 transition">Panier</a></li>
        <li><a href="/compte" class="hover:text-gray-400 transition">Mon compte</a></li>
      </ul>
    </nav>
  </div>
</header>
