---
// src/pages/Productarticle/[id].astro
import Product from "../../components/Product.astro";

// Données simulées (tu peux remplacer par un fetch depuis un JSON, API ou CMS)
const products = [
  {
    id: 1,
    title: "Lunettes élégantes",
    image: "/images/article1.jpg",
    materiauxMonture: "Acétate",
    materiauxVerre: "Polycarbonate",
    taillePont: "18 mm",
    tailleVerres: "52 mm",
    prix: 149,
  },

  {
    id: 1,
    title: "Lunettes modernes",
    image: "/images/article2.jpg",
    materiauxMonture: "métal",
    materiauxVerre: "Verre minéral",
    taillePont: "14 mm",
    tailleVerres: "56 mm",
    prix: 100,
  },
  // ... articles 2 à 9
];

const { id } = Astro.params;
const product = products.find((p) => p.id === parseInt(id));
---

{product ? (
  <main class="container mx-auto px-6">
    <Product product={product} />
  </main>
) : (
  <p class="text-center text-red-500 font-livvic mt-10">Produit introuvable</p>
)}
